.fe-hidden {
    display: none;
}

.fe-form {
    border-left: 1px solid gray;
    width: 600px;
    margin: auto;
}

.fe-control {
    padding: 0 5px 0 5px;
    margin: 5px 0 5px 0;
    height: 20px;
}

.fe-control .fe-control-label {
    display: block;
    width: 200px;
    float: left;
}

.fe-control .fe-control-input {
    display: block;
    margin-left: 210px;
    width: 380px;
    border: 1px solid gray;
}

.fe-control .fe-control-checkbox {
    display: block;
    margin-left: 210px;
    height: 20px;
    border: 1px solid gray;
}

.fe-control .fe-control-input option {
    border 1px solid gray;
}

.fe-kpi {
    border-left: 1px dotted red;
    width: 590px;
    margin: 0 auto 20px auto;
    padding: 5px;
}